.background-page {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    background-image: url('../assets/images/banner.jpeg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .coming-soon {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  